node_modules
.DS_Store
tmp
dev-data
data/yoopies/sitemaps/sitemap-yoopies-[0-9].xml
data/yoopies/sitemaps/sitemap-yoopies-[0-9][0-9].xml
data/yoopies/data/kpi/kpi-[0-9]:[0-9]:2021.json
data/yoopies/data/kpi/kpi-[0-9]:[0-9][0-9]:2021.json
data/yoopies/data/kpi/kpi-[0-9][0-9]:[0-9][0-9]:2021.json
data/yoopies/data/kpi/kpi-[0-9][0-9]:[0-9]:2021.json
data/yoopies/data/kpi/kpi-[0-9]:[0-9]:2022.json
data/yoopies/data/kpi/kpi-[0-9]:[0-9][0-9]:2022.json
data/yoopies/data/kpi/kpi-[0-9][0-9]:[0-9][0-9]:2022.json
data/yoopies/data/kpi/kpi-[0-9][0-9]:[0-9]:2022.json
data/yoopies/data/new/new-data-[0-9]:[0-9]:2021.csv
data/yoopies/data/new/new-data-[0-9]:[0-9][0-9]:2021.csv
data/yoopies/data/new/new-data-[0-9][0-9]:[0-9]:2021.csv
data/yoopies/data/new/new-data-[0-9][0-9]:[0-9][0-9]:2021.csv
data/yoopies/data/new/new-data-[0-9]:[0-9]:2022.csv
data/yoopies/data/new/new-data-[0-9]:[0-9][0-9]:2022.csv
data/yoopies/data/new/new-data-[0-9][0-9]:[0-9]:2022.csv
data/yoopies/data/new/new-data-[0-9][0-9]:[0-9][0-9]:2022.csv
data/yoopies/data/new/new-urls-[0-9]:[0-9]:2021.csv
data/yoopies/data/new/new-urls-[0-9]:[0-9][0-9]:2021.csv
data/yoopies/data/new/new-urls-[0-9][0-9]:[0-9]:2021.csv
data/yoopies/data/new/new-urls-[0-9][0-9]:[0-9][0-9]:2021.csv
data/yoopies/data/new/new-urls-[0-9]:[0-9]:2022.csv
data/yoopies/data/new/new-urls-[0-9]:[0-9][0-9]:2022.csv
data/yoopies/data/new/new-urls-[0-9][0-9]:[0-9]:2022.csv
data/yoopies/data/new/new-urls-[0-9][0-9]:[0-9][0-9]:2022.csv
data/yoopies/data/data-yoopies-all.csv
data/yoopies/data/data-yoopies.csv
data/dataclips/dataclip-cours
data/dataclips/dataclip-prospects
data/dataclips/dataclip-teachers
data/dataclips/dataclip-waiting