node_modules
.DS_Store
tmp
dev-data
data/yoopies/sitemaps/sitemap-yoopies-[0-9].xml
data/yoopies/sitemaps/sitemap-yoopies-[0-9][0-9].xml
data/yoopies/data-yoopies.csv
data/yoopies/data-yoopies-all.csv